.modal-overlay {
    display: flex;
    height: 100vh;
    width: 100%;
}

.about-modal {
    background-color: aliceblue;
    width: 60%;
    height: 60%;
    border-radius: 10px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.aboutme {
    display: flex;
    height: 90%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.divider {
    width: 2px;
    height: 100%;
    margin-left: 1%;
    background-color: #E9E9E9;
}

.left, .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1%;
    font-size: 1vw;
}

.left hr {
    width: 100%; 
    border: 0.1px solid #E8E8EB; 
    margin: 10px 0;
}

.info-item {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}

.info-item strong {
    margin-right: 20px; 
}

.me {
    width: auto;
    height: 90%;
    border-radius: 20px;
}

@media (max-width: 800px) {
    .left {
        font-size: 2vw;
    }
    
    .me {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .left {
        font-size: 1vw;
    }
}