html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.aboutme {
    display: flex;
    height: 100%;
}

.container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.divider {
    width: 2px;
    height: 100%;
    margin-left: 40%;
    background-color: #E9E9E9;
}

.left, .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.me {
    width: 80%;
    height: 90%;
    padding: 3%;
    border-radius: 20px;
}