.modal-overlay {
    display: flex;
    height: 100vh;
    width: 100%;
}

.resume-modal {
    background-color: white;
    height: 65%;
    border-radius: 8px;

}

@media (max-width: 900px) {
    .resume-modal {
        height: 60%;
    }
}

@media (max-width: 800px) {
    .resume-modal {
        height: 70vh;
        width: 80%;
    }

}