.terminal-modal {
    background-color: #004476;
    width: 50%;
    height: 50%;
    border-radius: 4%;
}

.terminal {
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.input-form {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-left: 5%;
}

.input-form input {
    flex: 1;
    background-color: #ffffff00;
    border: none;
    margin-left: 2px;
}

.input-box {
    width: 100%;
}

.output {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    margin-left: 5%;
}

.output div {
    margin-bottom: 5px;
}

.output, .prefix, .input-form, .input-form input{
    color: #fff;
    font-size: 15px;
    outline: none;
}

.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .terminal-modal {
        width: 70%;
    }

}

@media (max-width: 700px) {
    .terminal-modal {
        width: 80%;
    }
}


@media (max-width: 500px) {
    .terminal-modal {
        height: 60%;
    }
}